:root {
  --primary-text-color: #1a1a1a;
  --accent-color: #ff4500;
  --button-background: rgba(255, 69, 0, 0);
  --frame: #888888;
}
* {
  box-sizing: border-box;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  box-shadow: 0px 3px 10px -4px;
  border: 1px solid var(--frame);
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s, visibility 0.3s;
}

.dropdown__menu--visible {
  visibility: visible;
  opacity: 1;
}

.dropdown__button {
  color: var(--primary-text-color);
  padding: 0.25rem;
  border: 1px solid var(--frame);
  background-color: var(--button-background);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  gap: 0.5rem;
}

.chevron-down,
.chevron-up {
  color: var(--accent-color);
  width: 1rem;
  height: 1rem;
  transition: color 0.3s;
}

.dropdown__button:hover .chevron-down,
.dropdown__button:hover .chevron-up {
  color: #f57445;
}

.dropdown__item {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--primary-text-color);
  margin: 0.25rem;
}

.dropdown__item:hover {
  border-bottom: 1px solid var(--accent-color);
}
